@import "./Base/resets";
@import "./Utils/variables";
@import "./Utils/mixins";

html {
  font-size: 16px;
}
body {
  background-color: $main-background-color;
  font-family: "Roboto", arial, sans-serif;
  min-width: 18.125rem;
}
.header {
  @include flex-direction-centering;
  padding: 1.25rem 0 0.5rem 0;
    &__logo {
      @include main-headings;
      font-size: 2rem;
      font-weight: 550;
    }  
}
.header2 {
  position: relative;
  flex-direction: row;
  justify-content: center;
  .fas {
  position: absolute;
  top: 30px;
  left: 1.438rem;
  color: black;
  font-size: 1.4rem;
  }
}
.location {
  display: flex;
  align-items: center;
  background-color: #ececec;
  height: 50px;
  box-shadow: inset 5px 15px 5px -13px rgb(201, 197, 197);
    &__container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 10.313rem;
      margin: auto;
    }
    &__icon {
     font-size: 1rem;
     padding-right: 0.7rem;
     cursor: pointer;
     color:rgb(63, 63, 63);
    }
    &__name {
     font-size: 1.1rem;
     font-weight: 700;
     color:rgb(63, 63, 63);
   }                                     
}
.presentation {
  @include flex-direction-centering;
  margin-bottom: 3.563rem;
  &__heading {
    width: 65%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 2.5rem;                                                      
  }
  &__txt {
    width: 83%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    color:rgb(63, 63, 63);
    margin: 1rem 0 2.188rem 0; 
  }
  &__btn {
    width: 58.13%;
    max-width: 28rem;
    @include main-btn-style;
    &:hover {
      @include main-btn-hover;
    }
  }
}
.process {
  background-color: #FFFFFF;
  @include flex-direction-centering;
  padding-bottom: 4.25rem;
  &__heading {
    font-weight: 900;
    width: 90%;
    margin: 3.125rem 0 2.188rem 0;
  }
  &__cards_container {
    width: 90%;
    height: 270px;
    @include flex-and-direction;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__card {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  border-radius: 20px;
  text-decoration: none;
  width: 96%;
  height: 70px;
  background-color: $main-background-color;
  @include shadow;
  } 
  &__number {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -12.5px;
    width: 25px;
    height: 25px;
    background-color: $color-primary;
    border-radius: 50%;
    color: #FFFFFF;
  }
  &__icon {
    color: rgb(121, 121, 121);
    padding-left: 2rem;
    font-size: 1.2rem;
  }
  &__txt {
    color: black;
    padding-left: 1.5rem;
    font-weight: 700;
    font-size: 1rem;
  }
}
.process__txt--1 {
  padding-left: 1.9rem;
}
.process__txt--3 {
  padding-left: 1.2rem;
}
.restaurant {
  @include flex-direction-centering;
  padding-bottom: 3rem;
  &__heading {
    font-weight: 900;
    width: 90%;
    margin: 3.125rem 0 1.5rem 0;
  }
  &__cards_container {
    width: 90%;
    @include flex-direction-centering;
    justify-content: space-between;
  }
  &__card {
    display: block;
    text-decoration: none;
    @include flex-and-direction;
    border-radius: 20px;
    margin-bottom: 1.125rem;
    @include shadow;
  }
  &__img_box {
    position: relative;
    height: 174px;
  }
  &__new {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.688rem;
    right: 0.688rem;
    width: 5rem;
    height: 1.875rem;
    background-color: $color-tertiary;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #007558;
  }
  &__img {
    height: 174px;
    width: 100%;
    object-fit: cover;
    object-position: 0px -55px;
    border-radius: 15px 15px 0 0;
  }
  .img2 {
    object-position: 0px -150px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    height: 77px;
  }
  &__txt {
    @include flex-and-direction;
    justify-content: center;
    color: black;
    margin-left: 0.875rem;
  }
  &__place {
    font-weight: 400;
    margin-top: 3px;
  }
  &__heart .far {
    margin: 1.438rem 1.438rem 0 0;
    font-size: 1.5rem;
    color: rgb(66, 66, 66);
  }
}
footer {
  background-color: #3a3a3a;
  padding: 1.688rem 0 2.375rem 1.5rem;
}
.footer {
  &__logo {
    text-decoration: none;
  }
  &__logo h1 {
    @include main-headings;
    font-weight: 500;
    font-size: 1.25rem;
    color: #FFFFFF;
    margin-bottom: 1.25rem;
  }
  &__links_container {
    @include flex-and-direction;
  }
  &__link_box {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 0.625rem;
  }
  &__link_box .utensils {
    font-size: 0.8rem;
    margin-right: 0.85rem;
    padding-bottom: 2px;
  }
  &__link_box .hands {
    font-size: 0.7rem;
    margin-right: 0.65rem;
  }
  &__txt {
    font-size: 1rem;
    font-weight: 400;
  }
}
.cover {
  position: relative;
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.menu {
  position: relative;
  z-index: 100;
  background-color: $main-background-color;
  border-radius: 40px 40px 0 0px;
  bottom: 58px;
  padding-top: 1.875rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
  }
  &__heading {
    @include main-headings;
    font-weight: 550;
    font-size: 1.8rem;
    margin-left: 18px;
  }
  &__heart {
    font-size: 1.7rem;
  }
}
.courses {
  padding-top: 35px;
  @include flex-and-direction;
  &__heading {
    font-size: 1rem;
    font-weight: 400;
    margin-left: 18px;
  }
  &__cards_container {
    width: 93.5%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 45px;
  }
  &__card {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 14px;
    padding-left: 12px;
    cursor: pointer;
    @include shadow;
  }
  &__txt {
    width: 75%;
    margin: 12px 0 10px 0;
    white-space: nowrap;
    
  }
  &__name {
    font-size: 1.1rem;
    @include txt-behaviour;
    margin-bottom: 5px;
  }
  &__info {
    font-size: 0.9rem;
    @include txt-behaviour;
  }
  &__price {
    @include flex-direction-centering;
    justify-content: flex-end;
    width: 24.28%;
    font-weight: 700;
    margin-bottom: 10px
  }
  &__validation {
    @include flex-direction-centering;
    justify-content: center;
    background-color: $color-tertiary;
    border-radius: 0 15px 15px 0;
    width: 60px;
  }
  .fas {
    background-color: transparent;
    color: #FFFFFF;
    font-size: 1.5rem;
  }
}
.order__btn {
  width: 50%;
  @include main-btn-style;
  display: block;
  margin: auto;
  &:hover {
    @include main-btn-hover;
  }
}


