html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #f3f3f3da;
  font-family: "Roboto", arial, sans-serif;
  min-width: 12.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 0 0.5rem 0;
}
.header__logo {
  font-family: "Shrikhand", cursive;
}

.location {
  display: flex;
  align-items: center;
  background-color: #ececec;
  height: 50px;
  box-shadow: inset 5px 15px 5px -13px #c9c5c5;
}
.location__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 10.313rem;
  margin: auto;
}
.location__icon {
  font-size: 1rem;
  padding-right: 0.7rem;
  cursor: pointer;
}
.location__name {
  font-size: 1.1rem;
  font-weight: 700;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.563rem;
}
.presentation__heading {
  width: 65%;
  text-align: center;
  font-weight: 900;
  margin-top: 2.5rem;
}
.presentation__txt {
  width: 83%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  color: #636363;
  margin: 1.25rem 0 2.188rem 0;
}
.presentation__btn {
  width: 58.13%;
  max-width: 28rem;
  height: 3.125rem;
  background-color: #9356DC;
  border: none;
  border-radius: 3.125rem;
  box-shadow: 1px 5px 15px #dddddd;
  color: #FFFFFF;
  font-size: 1rem;
}

.process {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.25rem;
}
.process__heading {
  font-weight: 900;
  width: 90%;
  margin: 3.125rem 0 2.188rem 0;
}
.process__cards_container {
  width: 90%;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.process__card {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  border-radius: 20px;
  text-decoration: none;
  width: 96%;
  height: 70px;
  background-color: #f3f3f3da;
  box-shadow: 1px 5px 15px #dddddd;
}
.process__number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -12.5px;
  width: 25px;
  height: 25px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFFFFF;
}
.process__icon {
  color: #a3a3a3;
  padding-left: 2rem;
  font-size: 1.2rem;
}
.process__txt {
  color: black;
  padding-left: 1.5rem;
  font-size: 1rem;
}

.process__txt--1 {
  padding-left: 1.9rem;
}

.process__txt--3 {
  padding-left: 1.2rem;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4.25rem;
}
.restaurant__heading {
  font-weight: 900;
  width: 90%;
  margin: 3.125rem 0 2.188rem 0;
}
.restaurant__cards_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.restaurant__card {
  display: block;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 1.125rem;
  box-shadow: 1px 5px 15px #dddddd;
}
.restaurant__img_box {
  position: relative;
  height: 174px;
}
.restaurant__new {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.688rem;
  right: 0.688rem;
  width: 5rem;
  height: 1.875rem;
  background-color: #99E2D0;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #007558;
}
.restaurant__img {
  height: 174px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant__info {
  display: flex;
  justify-content: space-between;
  height: 77px;
}

/*# sourceMappingURL=style.css.map */
