@-webkit-keyframes spin{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes spin-reverse{
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes loading-page-opacity{
  0% {
    visibility: visible;
    opacity: 0.9;
  }
  70% {
    visibility: visible;
    opacity: 0.8;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes heart-animation {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1500;
    fill: #ffb7eb;
    opacity: 0.5;
  }
  80% {
    stroke: #9356DC;
    stroke-dashoffset: 0;
    fill: url(#gradient);
    opacity: 0.8;
  }
  100% {
    stroke: none;
    fill: url(#gradient);
    opacity: 1;
  }
}
 

  
  