@mixin main-headings {
    font-family: "Shrikhand", cursive;
}
@mixin flex-direction-centering {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flex-and-direction {
    display: flex;
    flex-direction: column;
}
@mixin txt-behaviour {
    text-overflow: ellipsis;
    overflow: hidden;
}
@mixin main-btn-style {
    height: 3.125rem;
    border: none;
    border-radius: 3.125rem;
    background: $main-btn-color;
    @include shadow;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s;
}
@mixin main-btn-hover {
    background: linear-gradient(-5deg, $light-color-primary, $light-color-secondary);
    box-shadow: 0px 5px 10px 5px $shadow-color;
}
@mixin shadow($color: $shadow-color){
    box-shadow: 0px 5px 10px 0px $shadow-color;
}
