.header_with_arrow {
  position: relative;
  flex-direction: row;
  justify-content: center;
  .fas {
    position: absolute;
    top: 1.875rem;
    left: 1.438rem;
    color: black;
    font-size: 1.4rem;
  }
}