<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>à la française</title>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/172aad8cad.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header header2">
    <a href="/public/index.html">
      <i class="fas fa-arrow-left"></i>
    </a>
    <h1 class="header__logo logo">ohmyfood</h1>
  </header>
  <img class="cover" src="/assets/a-la-française.jpg" alt="image d'un plat de cuisine gastronomique">
  <main>
    <div class="menu">
      <header class="menu__header">
        <h2 class="menu__heading">À la française</h2>
        <div class="menu__heart heart">
          <i class="far fa-heart"></i>
        </div>
      </header>
      <section class="courses">
        <div class="courses__starters">
          <h2 class="courses__heading">ENTRÉES</h2>
          <div class="courses__cards_container">
            <div class="courses__card card1">
              <div class="courses__txt">
                <h3 class="courses__name">Tartare de poulpe acidulé</h3>
                <p class="courses__info">Aux zestes d'orange</p>
              </div>
              <p class="courses__price">25€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card2">
              <div class="courses__txt">
                <h3 class="courses__name">Velouté de légumes d'antan</h3>
                <p class="courses__info">Carotte, panais, topinambour</p>
              </div>
              <p class="courses__price">35€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card3">
              <div class="courses__txt">
                <h3 class="courses__name">Soupe à l'oignon</h3>
                <p class="courses__info">Revisitée</p>
              </div>
              <p class="courses__price">20€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="courses__main">
          <h2 class="courses__heading">PLATS</h2>
          <div class="courses__cards_container">
            <div class="courses__card card1">
              <div class="courses__txt">
                <h3 class="courses__name">Coquilles Saint-Jacques</h3>
                <p class="courses__info">Accompagnées d'une purée de panais</p>
              </div>
              <p class="courses__price">40€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card2">
              <div class="courses__txt">
                <h3 class="courses__name">Magret de canard</h3>
                <p class="courses__info">Et parmentier de pommes de terre</p>
              </div>
              <p class="courses__price">35€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card3">
              <div class="courses__txt">
                <h3 class="courses__name">Pigeonneau d’Ille-et-Vilaine</h3>
                <p class="courses__info">Sur son lit de gnocchis aux légumes</p>
              </div>
              <p class="courses__price">44€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="courses__desserts">
          <h2 class="courses__heading">DESSERTS</h2>
          <div class="courses__cards_container">
            <div class="courses__card card1">
              <div class="courses__txt">
                <h3 class="courses__name">Pétales de violettes glacés</h3>
                <p class="courses__info">Et purée de noisettes</p>
              </div>
              <p class="courses__price">18€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card2">
              <div class="courses__txt">
                <h3 class="courses__name">Fondant au chocolat</h3>
                <p class="courses__info">Revisité</p>
              </div>
              <p class="courses__price">22€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card3">
              <div class="courses__txt">
                <h3 class="courses__name">Millefeuille croustillant</h3>
                <p class="courses__info">Myrtilles et pâte d’amande</p>
              </div>
              <p class="courses__price">23€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <button class="btn order__btn">Commander</button>
    </div>
  </main>
  <footer>
    <div class="footer">
      <a class="footer__logo" href="./index.html">
        <h1>ohmyfood</h1>
      </a>
      <div class="footer__links_container">
        <a class="footer__link_box" href="">
          <i class="fas fa-utensils utensils"></i>
          <h3 class="footer__txt">Proposer un restaurant</h3>
        </a>
        <a class="footer__link_box" href="">
          <i class="fas fa-hands-helping hands"></i>
          <h3 class="footer__txt">Devenir partenaire</h3>
        </a>
        <a class="footer__link_box" href="">
          <h3 class="footer__txt">Mentions légales</h3>
        </a>
        <a class="footer__link_box" href="">
          <h3 class="footer__txt">Contact</h3>
        </a>
      </div>
    </div>
  </footer>
</body>

</html>