<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ohmyfood</title>
  <link rel="stylesheet" type="text/css" href="/public/css/style.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/172aad8cad.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header header2">
    <a href="/public/index.html">
      <i class="fas fa-arrow-left"></i>
    </a>
    <h1 class="header__logo logo">ohmyfood</h1>
  </header>
  <img class="cover" src="/assets/la-palette-du-gout.jpg" alt="image d'un plat de cuisine gastronomique">
  <main>
    <div class="menu">
      <header class="menu__header">
        <h2 class="menu__heading">La palette du goût</h2>
        <div class="menu__heart heart">
          <i class="far fa-heart"></i>
        </div>
      </header>
      <section class="courses">
        <div class="courses__starters">
          <h2 class="courses__heading">ENTRÉES</h2>
          <div class="courses__cards_container">
            <div class="courses__card card1">
              <div class="courses__txt">
                <h3 class="courses__name">Fricassée d'escargot</h3>
                <p class="courses__info">Au piment d'Espelette</p>
              </div>
              <p class="courses__price">25€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card2">
              <div class="courses__txt">
                <h3 class="courses__name">Foie gras de canard mi-cuit</h3>
                <p class="courses__info">Et ses copeaux de truffe noire</p>
              </div>
              <p class="courses__price">35€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card3">
              <div class="courses__txt">
                <h3 class="courses__name">Oeuf au plat</h3>
                <p class="courses__info">Assaisonné à la truffe sur lit de caviar</p>
              </div>
              <p class="courses__price">20€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="courses__main">
          <h2 class="courses__heading">PLATS</h2>
          <div class="courses__cards_container">
            <div class="courses__card card1">
              <div class="courses__txt">
                <h3 class="courses__name">Filet de boeuf aux herbes</h3>
                <p class="courses__info">Accompagné de sa ribambelle de légumes</p>
              </div>
              <p class="courses__price">40€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card2">
              <div class="courses__txt">
                <h3 class="courses__name">Parmentier de queue de boeuf</h3>
                <p class="courses__info">À la truffe noire sur sa purée de panais</p>
              </div>
              <p class="courses__price">35€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card3">
              <div class="courses__txt">
                <h3 class="courses__name">Filet de turbot</h3>
                <p class="courses__info">Aux agrumes</p>
              </div>
              <p class="courses__price">44€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="courses__desserts">
          <h2 class="courses__heading">DESSERTS</h2>
          <div class="courses__cards_container">
            <div class="courses__card card1">
              <div class="courses__txt">
                <h3 class="courses__name">Paris-Brest</h3>
                <p class="courses__info">Revisité</p>
              </div>
              <p class="courses__price">18€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card2">
              <div class="courses__txt">
                <h3 class="courses__name">Macaron au chocolat d'exception</h3>
                <p class="courses__info">Et glace à la vanille de Madagascar</p>
              </div>
              <p class="courses__price">22€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
            <div class="courses__card card3">
              <div class="courses__txt">
                <h3 class="courses__name">Mousse au chocolat</h3>
                <p class="courses__info">Au piment d'Espelette et à la truffe noire</p>
              </div>
              <p class="courses__price">23€</p>
              <div class="courses__validation">
                <i class="fas fa-check-circle"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
      <button class="btn order__btn">Commander</button>
    </div>
  </main>
  <footer>
    <div class="footer">
      <a class="footer__logo" href="./index.html">
        <h1>ohmyfood</h1>
      </a>
      <div class="footer__links_container">
        <a class="footer__link_box" href="">
          <i class="fas fa-utensils utensils"></i>
          <h3 class="footer__txt">Proposer un restaurant</h3>
        </a>
        <a class="footer__link_box" href="">
          <i class="fas fa-hands-helping hands"></i>
          <h3 class="footer__txt">Devenir partenaire</h3>
        </a>
        <a class="footer__link_box" href="">
          <h3 class="footer__txt">Mentions légales</h3>
        </a>
        <a class="footer__link_box" href="">
          <h3 class="footer__txt">Contact</h3>
        </a>
      </div>
    </div>
  </footer>
</body>

</html>